
.dzs-chip-selector.dzs-chip-selector--is-new-element-focused{

  .dzs-chip-selector--autocompletelist {

    opacity: 1;
    visibility: visible;
  }
}
.dzs-chip-selector--autocompletelist {


  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  visibility: hidden;
  $transition-property: visibility, opacity;
  $transition-duration: 0.1s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  //opacity: 1;
  //visibility: visible;

  &--inner{

    padding: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: $colorBg;
    top: $arrowSize + $offsetForList;
    position: relative;
  }

  .dzs-chip-selector--autocompletelist--placeholder{
    display: none;
  }


  &.dzs-chip-selector--autocompletelist--is-placeholder-visible{

    .dzs-chip-selector--autocompletelist--placeholder{
      display: block;
    }
    ul.dzs-chip-selector--autocompletelist--items {
      display: none;
    }
  }

  ul.dzs-chip-selector--autocompletelist--items {

    margin: 0;
    padding: 0;
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: none;
    max-height: 256px;
    position: relative;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;


    list-style: none;
    list-style: none;


    .dzs-chip-selector--autocompletelist--items--item {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      cursor: pointer;
      padding: 5px;
      $transition-property: background-color;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);

      &.is-hidden {
        display: none;
      }


      &:last-child {
        border-bottom: 0;
      }
    }
  }
}