
.dzs-chip-selector--chip-list {
  flex-shrink: 0;
  max-width: 100%;
  ul.dzs-chip-selector--chip-list-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .dzs-chip-selector--item {

      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      padding: 7px 12px;
      align-items: center;
      cursor: default;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      border: none;
      -webkit-appearance: none;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 8px;
      padding-left: 12px;
      background-color: #e0e0e0;
      color: #000000de;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;


      .dzs-chip-selector--item--content{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.dzs-chip-selector--item--remove {

  order: none;
  appearance: none;

  display: inline-block;
  vertical-align: middle;

  border: 0;
  -moz-appearance: none;
  padding: 0;
  background: none;
  margin-left: 8px;
  margin-right: 0;
  color: #000000de;
  opacity: .4;
  width: 18px;
  height: 18px;
  cursor: pointer;

  position: relative;


  > figure {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate3d(-50%, -50%, 0);
  }

}

