
.dzs-chip-selector--input-new-element {
  font: inherit;
  background: rgba(0, 0, 0, 0);
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;

  appearance: none;
  width: 150px;
  margin: 4px;
  flex: 1 0 150px;
}

.dzs-chip-selector--input-new-element--label {

  margin-left: 4px;
  margin-bottom: 0;

}