/* Error: expected "{".
 *    ,
 * 61 |     margin: 0;
 *    |              ^
 *    '
 *   style/_chipList.scss 61:14   @import
 *   style/_structure.scss 23:15  @import
 *   dzs-chip-selector.scss 4:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 61 \2502      margin: 0;\a    \2502               ^\a    \2575 \a   style/_chipList.scss 61:14   @import\a   style/_structure.scss 23:15  @import\a   dzs-chip-selector.scss 4:9   root stylesheet';
}
