

$colorBg: #dadada;
$arrowSize: 8px;
$offsetForList: 3px;
.dzs-chip-selector.dzs-chip-selector--skin-default{

  .dzs-chip-selector--autocompletelist {


    &:before{
      content:'';
      position: absolute;


      width: 0;
      height: 0;
      border-left: $arrowSize solid transparent;
      border-right: $arrowSize solid transparent;
      border-bottom: $arrowSize solid $colorBg;
      top: $offsetForList;
      left: 10px;
    }

    .dzs-chip-selector--autocompletelist--items{
      .dzs-chip-selector--autocompletelist--items--item{
        background-color: #ffff00;
        &.is-selected{
          background-color: #2a6496;
        }
        &:hover {
          background-color: #eea236;
        }

        &.is-selected {

          background-color: #b46a75;
        }
      }
    }
  }
}
